.background-score-one {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  position: absolute;
  min-width: 100%;
  z-index: -1;
  background-color: red;
  background: red;
}
